.beehub-spacer-navbar-fixed-top {
  height: 58px; /* 40px + 18px padding */
}
.beehub-spacer-surfsara-logo {
  width: 202px;
}
.surfsara-logo {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1031;
}
#notifications{
  width: 800px;
  padding: 1em;
  background-color: #d1e2d2;
}
#notifications li {
  padding: 0.5em;
}
#notifications li:nth-child(even) {
  background-color: #e8f1e9;
}

/* Indent groups and sponsers */
#bh-groups-panel-mygroups, #bh-groups-panel-join, #bh-sponsors-panel-mysponsors, #bh-sponsors-panel-join {
    padding-left:25px;
}

/* Changes in bootstrap defaults for groups and sponsors*/
.accordion-group:hover {
  background-color: #D1E2D3 !important;
}
.accordion-group-active {
  background-color: #E8F1E9 !important;
}
.accordion-group-active:hover {
  background-color: #D1E2D3 !important;
}

/* Settings for group and sponsor pages*/
/* Kan volgens mij weg */
/* .fieldname {
  text-align: right;
} */
.bh-gs-invite_members {
    margin-left: 20px !important;
}
.bh-gs-display-gs {
    width: 110px !important;
}
.long_text {
  max-width: 900px;
}
